<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container d-flex flex-column position-relative aos-init aos-animate" data-aos="fade-up">
    <div class="section-about">
      <h2>A Propos</h2>
    </div>

        <div class="row row-about">
          <div class="col-12">
            "Lien sécurisé" est un service permettant d'envoyer en toute sécurité des mots de passe, des clés pré-partagées,
                des clés de licence et autres via des supports non sécurisés tels que le courrier électronique en créant un lien unique vers le secret.
                Une fois le lien ouvert, il ne peut plus être utilisé.
                Le secret est toujours crypté et décrypté dans le navigateur afin qu'il ne puisse jamais être vu par nous ou par quiconque sans le lien d'origine généré
                par le navigateur.
          </div>
            <!-- Tab Content -->
          </div>
        </div>

</section><!-- End About Section -->
