<!-- ======= FAQ Section ======= -->
<section id="faq" class="faq">
    <div class="container d-flex flex-column position-relative aos-init aos-animate" data-aos="fade-up">
        <div class="section-about">
            <h2>FAQ</h2>
        </div>

        <div class="row row-about">
            <div class="col-12">
                <span class="h5">Est-ce sûr ?</span>
                <p>Voici pourquoi votre message est sûr :</p>
                <p>
                    <ul>
                        <li>Votre message n'est pas transmis en clair</li>
                        <li>Votre message n'est pas stocké en clair</li>
                        <li>Votre message crypté est stocké pendant la durée choisie (7 jours par défaut), puis supprimé</li>
                        <li>Une fois votre message récupéré, il est supprimé</li>
                        <li>S'il y a un problème pour récupérer votre message, y compris un mot de passe incorrect, il est supprimé.</li>
                        <li>Nous ne pouvons pas déchiffrer votre message, nous n'avons tout simplement pas le mot de passe</li>
                    </ul>
                </p>
                <p>
                    La sécurité du chiffrement utilisé est assurée par le moteur de chiffrement symétrique développé à
                    Stanford <a href="http://bitwiseshiftleft.github.io/sjcl/">http://bitwiseshiftleft.github.io/sjcl/</a>.
                </p>
                <p>
                    La plus grande menace associée à cette méthode est que votre message et votre mot de passe soient
                    interceptés et récupérés avant que votre destinataire n'ait la possibilité de le récupérer. Vous devez
                    être attentif à la manière dont vous transmettez ces informations et, idéalement, envoyer le mot de
                    passe séparément du lien.
                </p>
                <p>
                    <span class="h5">Et si vous mentiez ?</span>
                    <p>Eh bien, vous êtes une personne intelligente, jetez un œil au code. sur github <a href="https://github.com/BCISOFT/lien-securise">https://github.com/BCISOFT/lien-securise</a></p>
                </p>
            </div>
            <!-- Tab Content -->
        </div>
    </div>

</section><!-- End About Section -->