<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
  <div class="container">    <div class="row gy-4">

      <div class="col-xl-4 col-md-4 d-flex" data-aos="zoom-out">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-activity icon"></i></div>
          <h4><span class="stretched-link">Un lien unique</span></h4>
          <p>Le lien ne peut être ouvert qu'une seule fois. Dès que le destinataire du message l'a consulté, celui-ci est supprimé de notre base de données. Il est impossible d'y accéder à nouveau.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-4 d-flex" data-aos="zoom-out" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
          <h4><span class="stretched-link">Plus d'informations sensibles dans vos boîtes mails.</span></h4>
          <p>L'utilisation d'un lien unique garantit l'absence d'informations sensibles dans des boîtes mails ou des messageries instantanées archivés.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-xl-4 col-md-4 d-flex" data-aos="zoom-out" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
          <h4><span class="stretched-link">Cryptage et décryptage côté client</span></h4>
          <p>Votre message est crypté dans le navigateur avant d'être stocké en base de données. Seuls le lien et le mot de passe générés permettent de décrypter le message transmis.
          </p>
        </div>
      </div><!-- End Service Item -->

{#      <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out" data-aos-delay="600">#}
{#        <div class="service-item position-relative">#}
{#          <div class="icon"><i class="bi bi-broadcast icon"></i></div>#}
{#          <h4><a href="" class="stretched-link">Vie privée</a></h4>Pas de scripts ou de codes d'analyse - nous ne suivons pas nos utilisateurs. Nous ne stockons jamais plus de données utilisateur que ce qui est absolument nécessaire pour exécuter le service.#}
{#    La moitié de le clé de cryptage est stockée dans le lien lui-même et jamais connue ou vue de nous ni de personne d'autre..
{#              L'affichage de votre message est donc impossible sans le lien d'origine.
</p>#}
{#        </div>#}
{#      </div><!-- End Service Item -->#}

    </div>

  </div>
</section><!-- End Featured Services Section -->