{% extends "layouts/default.html" %}


{% block navigation %}
    {% include 'layouts/partials/nav.html' %}
{% endblock navigation %}

{% block presentation %}
    <section id="hero-static" class="hero-static d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
          <h2>L I E N  <span><span></span>SECURISE</span></h2>
            <h3>Envoyez et recevez en toute sécurité des informations sensibles.</h3>
                <p>Créez un lien unique sécurisé pour transmettre vos messages et informations confidentielles.</p>

                <!-- ======= Steps ======= -->
                {% include 'layouts/partials/steps.html' %}
                <!-- ======= Formulaire ======= -->

                {% block formulaire %}
                    <div class="container">
                  <div class="ots_row">
                    <div class="col">
                        <form id="ots_form"action="#" method="post" class="mb-3">
                            <fieldsset id="affichage">
                                <div class="form-group" id="saisie-message">
                                    <textarea class="form-control" autocomplete="off" autofocus
                                              type="text" placeholder="Ecrivez votre message ici" name="ots_content" id="ots_content"
                                              rows="6" cols="30" maxlength="4096"
                                    ></textarea>
                                    <p id="txt_compteur">Il vous reste <span id="compteur"></span><span id="fin_txt_compteur"></span>
                                </div>

                                <div id="link2ots" class="well options-box" style="display: none">
                                    <div class="row-ots">
                                      <div class="col-12">
                                         <div class="input-group">
                                            <input id="link_to_secret" type="text" class="form-control" readonly="true">
                                            <span class="input-group-btn">
                                                <button id="cpy-link" class="btn cpy" type="button"> Copier </button>
                                            </span>
                                         </div>
                                          <span class="clearfix"></span>
                                          <span id="link-copied" class="copied" style="display: none">Lien copié dans le presse papier!</span>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                             <div class="input-group">
                                                <input id="link_to_pwd" type="text" class="form-control" readonly="true">
                                                <span class="input-group-btn">
                                                   <button  id="cpy-pwd" class="btn cpy" type="button"> Copier </button>
                                                </span>
                                             </div>
                                          <span class="clearfix"></span>
                                          <span id="password-copied" class="copied" style="display: none">Mot de passe copié dans le presse papier!</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mt-4">
                                             <div class="input-group">
                                                 <textarea id="custom_message" type="text" class="form-control custom-control" rows="8" style="resize:none" readonly="true"></textarea>
                                                 <span id="cpy-message" class="input-group-addon btn cpy d-flex align-items-center" type="button"><span> Copier </span></span>
                                             </div>
                                        </div>
                                          <span class="clearfix"></span>
                                          <span id="message-copied" class="copied" style="display: none">Message copié dans le presse papier!</span>
                                    </div>
                                </div>
                            </fieldsset>

                            <fieldset id="parametres">
                                <div class="well options-box">
                                    <div class="title">Expiration</div>
                                    <div class="control-group">
                                        <label for="ttl">Expiration :</label>
                                        <select id="lifetime" name="ttl" class="span3">
                                            <option value="1">1 jour</option>
                                            <option value="2">2 jours</option>
                                            <option value="3">3 jours</option>
                                            <option value="4">4 jours</option>
                                            <option value="5">5 jours</option>
                                            <option value="6">6 jours</option>
                                            <option value="7" selected="">7 jours</option>
                                        </select>
                                    </div>
                                    <p id="txt_delai"class="avert">Passé ce délai, le message sera totalement détruit.</p>
                                </div>
                                <div class="form-group" id="hiden-fields">
                                    <input type="hidden" name="ots_id" value="{{ ots_id }}" id="ots_id"/>
                                    <input type="hidden" name="ots_key1" value="{{ ots_key1 }}" id="ots_key1"/>
                                    <input type="hidden" name="ots_key2" value="{{ ots_key2 }}" id="ots_key2"/>
                                </div>
                            </fieldset>
                            <button type="submit" class="dd-flex align-items-center justify-content-center btn-get-started creator" id="ots-submit">Créer un lien sécurisé</button>
                            <a href="/" class="dd-flex align-items-center justify-content-center btn-get-started creator d-none" id="ots-create-new">Créer un nouveau lien sécurisé</a>
                        </form>


                        <pre id="output"></pre>
                      {#Fin Formulaire de saisi du message #}

                    </div>
                  </div>
                </div>
                {% endblock formulaire %}
        </div>
    </section>
{% endblock presentation %}

{% block infos %}
    <main id="main">
        {% include 'layouts/partials/about.html' %}
<!--====== Services ====== -->
        {% include 'layouts/partials/services.html' %}
<!--====== FAQ ====== -->
        {% include 'layouts/partials/faq.html' %}
    </main>
{% endblock infos %}

{% block Reseaux %}{% endblock Reseaux %}




{%  block script %}
    <script>
        function fallbackCopyTextToClipboard(text) {
            var textArea = document.createElement("textarea");
            textArea.value = text;

            textArea.style.top = "0";
            textArea.style.left = "0";
            textArea.style.position = "fixed";

            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var successful = document.execCommand('copy');
                var msg = successful ? 'successful' : 'unsuccessful';
                console.log({"message": "Fallback: Copying to clipboard was " + msg});
            } catch (err) {
                console.log({"message": "Fallback: Could not copy text", "error": err});
            }

            document.body.removeChild(textArea);
        }

        function copyToClipboard(text) {
            if (!navigator.clipboard) {
                fallbackCopyTextToClipboard(text);
                return;
            }
            navigator.clipboard.writeText(text).then(function () {
                console.log({"message": "Async: Copying to clipboard was successful!"});
            }, function (err) {
                console.log({"message": "Async: Could not copy text", "error": err});
            });
        }

$(document).ready(function () {

     navigator.permissions.query({name: "clipboard-write"}).then((result)=> {
         if (result.state == "granted" || result.state == "prompt") {
             var btnPwd = document.getElementById('cpy-pwd');
             var btnLink = document.getElementById('cpy-link');

             $('#cpy-link').click(function () {
                 copyToClipboard($('#link_to_secret').val());
                 $('#link-copied').show().fadeOut(5000);
             });

             $('#cpy-pwd').click(function () {
                 copyToClipboard($('#link_to_pwd').val());
                 $('#password-copied').show().fadeOut(5000);
             });

             $('#cpy-message').click(function () {
                 copyToClipboard($('#custom_message').val());
                 $('#message-copied').show().fadeOut(5000);
             });
         }
     });


    // A function for generating a random 18 characters long string
    $.fn.generate_string = function (len) {
        var chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789$";
        // Use seedrandom.js to create autoseeded PRNG--help
        Math.seedrandom();
        var str = "";
        for (var i = 0; i < len; i++) {
            str += chars.charAt(Math.floor(Math.random() * chars.length));
        }
        return str;
    };


    $("#ots-submit").click(function (e) {
        e.preventDefault();
        var ots_content = document.getElementById("ots_content");

        if (ots_content.value.length > 0) {
            var ots_id = document.getElementById("ots_id");
            var ots_key1 = btoa($.fn.generate_string(18, "all"));
            var ots_key2 = btoa($.fn.generate_string(18, "all"));
            var monCipher = btoa(sjcl.encrypt(ots_key1 + ots_key2, ots_content.value));
            var monPlaint = sjcl.decrypt(ots_key1 + ots_key2, atob(monCipher));
            var ots_lifetime = document.getElementById('lifetime');
            var step1 = document.getElementById('step1');
            var step2 = document.getElementById('step2');
            var step3 = document.getElementById('step3');
            var btnCreer = document.getElementById('ots-submit');
            var btnCreateNew = document.getElementById('ots-create-new');
            var dicCipher = atob(monCipher);

            var ots_link = document.getElementById("link_to_secret");
            var ots_pwd = document.getElementById("link_to_pwd");
            var ots_message = document.getElementById("custom_message");

            var secret = {
                ots_id: ots_id.value,
                ots_content: monCipher,
                ots_key2: ots_key2,
                ots_lifetime: ots_lifetime.value
            };
            fetch('/create-secret', {
                method: 'POST',
                credentials: "include",
                body: JSON.stringify(secret),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            })
                .then(function (response) {
                    if (response.status !== 200) {
                        console.log('Looks like there was a problem. Status code: ${response.status}');
                        return;
                    }
                    response.json().then(function (data) {
                        $('#saisie-message').hide();
                        $('#link2ots').show();
                        ots_id = ots_id.value;
                        ots_link.value="https://lien-securise.bcisoft.fr/get_ots/" + ots_id;
                        ots_link.readonly=true;
                        ots_pwd.value = ots_key1;
                        ots_pwd.readonly=true;
                        ots_message.value = "Vous pouvez consulter votre message sécurisé en cliquant sur ce lien à usage unique:\n" + ots_link.value + "\n\net en utilisant ce mot de passe: " + ots_key1 + "\n\nLe lien est consultable une seule fois et n'est valable que durant " + ots_lifetime.value + " jours, une fois consulté ou le délai dépassé il ne sera plus accessible.";
                        ots_message.readonly=true;
                        step1.classList.toggle('current');
                        step2.classList.toggle('current');
                        ots_lifetime.disabled = true;
                        btnCreer.disabled = true;
                        btnCreer.classList.add('d-none');
                        btnCreateNew.classList.remove('d-none');

                        console.log(data);
                    });
                })
                .catch(function (error) {
                    console.log("Fetch error: " + error);
                });
        }

    });
});


    </script>
{% endblock script %}
